body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(47, 135, 223, 0.788);
}
.container{
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    background-color: rgba(210, 224, 236, 0.788);
}
button{
    border-radius: 5px;
    border: 0px;
    background-color: rgba(47, 135, 223, 0.788);
}
footer{
    text-align: center;
    padding: 20px;
}